<section class="container">
  <header>Que livro você procura?</header>
  <div class="busca">
    <input
      type="search"
      [formControl]="campoBusca"
    >
    <button>
      <img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa">
    </button>
  </div>
  <p>Busque por assunto, autoria, nome...</p>
  <div class="resultados mensagem-erro" *ngIf="mensagemErro">
    {{ mensagemErro }}
  </div>
  <div class="resultados" *ngIf="totalDeLivros$ | async">
    {{ totalItensFixos? totalItensFixos : '0' }} resultados encontrados
  </div>
  <div class="container-card" *ngIf="livrosEncontrados$ | async as listaLivros, else telaInicial">
    <div *ngFor="let livro of listaLivros">
      <app-livro [livro]="livro"></app-livro>
    </div>
  </div>
  <ng-template #telaInicial>
    <div class="imagens">
      <h1 class="titulo">Busque o livro <br> que quiser na <br> nossa estante!</h1>
      <img
        class="ilustracao"
        src="../../assets/imagens/ilustracao-estante.png"
        alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
    </div>
  </ng-template>
</section>
<!-- Navegação -->
  <div class="navegacao">
    <div class="contador-pagina">
      Página {{ paginaAtual +1 }} de {{ totalPaginas }}
    </div>
    <div class="navegacao-botoes">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 0">Página Anterior</button>
      <button (click)="proximaPagina()" [disabled]="(paginaAtual + 1) * itensPorPagina >= LivrosResultado?.totalItems">Próxima Página</button>
      <!-- <button (click)="paginaAnterior()" [disabled]="paginaAtual === 0">
        Página Anterior
      </button>
      <button
        (click)="proximaPagina()"
        [disabled]="(paginaAtual + 1) >= totalPaginas"
      >
        Próxima Página
      </button> -->
    </div>
  </div>


